/*
@mixin centered__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
*/

.navbar {
  min-width: 100%;
}

#actionbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

#editor-row {
  margin:0 6rem
}

#toolbar {
  position: fixed;
  top: 15%;
  left: 0px;
  z-index: 999;
  .dropdown-item {
    width:fit-content;
    margin:0;
  }
  .dropdown-menu {
    min-width:fit-content
  }
  #toggle-toolbar {
    padding:0
  }
  #toggleable-toolbar {
    display:flex;
    flex-direction: column
  }
}

#theTitle {
  font-size:2rem
}

#theText {
  color:white;
}

.main__editor {
  min-height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

.text__view {
  color: #000;
  min-height: 250px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.747);
}

#game {
  width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #495057;
}

#liveView {
  margin:3rem 0 0 2rem;
  .label {
    font-size:1.5rem !important;
    text-align: left !important;
    color: white  !important;
    font-family: Arial, Helvetica, sans-serif  !important
  }
}