/*
@mixin centered__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
*/
.brand-text {
  font-family: 'Exo', sans-serif;
}

#main {
  height: 100vh;
}

.navbar {
  min-width: 100%;
}

#actionbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#actionbar Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#editor-row {
  overflow-y: auto;
  margin: 0 6rem;
}

#save-row {
  height: 5vh;
  margin: 0 6rem;
}

#save-row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#toolbar {
  position: fixed;
  top: 15%;
  left: 0px;
  z-index: 999;
}

#toolbar .dropdown-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

#toolbar .dropdown-menu {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

#toolbar #toggle-toolbar {
  padding: 0;
}

#toolbar #toggleable-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#theTitle {
  font-size: 2rem;
}

#theText {
  height: 65vh;
  color: white;
  outline: -webkit-focus-ring-color auto 1px;
}

.label {
  font-family: Arial, Helvetica, sans-serif  !important;
  font-size: 1.25rem !important;
  color: white !important;
  font-style: italic !important;
}

.rich-text-label {
  width: 100%;
  text-align: right !important;
}

.markup-label {
  text-align: left !important;
}

.main__editor {
  min-height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
}

.text__view {
  color: #000;
  min-height: 250px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.747);
}

#liveView {
  margin: 3rem 0 0 2rem;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#game {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(82, 82, 82, 0.192);
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/*# sourceMappingURL=TextEditor.css.map */